<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wwwjf.videodemo">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:usesCleartextTraffic="true">
        <activity android:name=".SynthesizerActivity"/>
        <activity android:name=".opengl.EglPlayerActivity" />
        <activity android:name=".opengl.OpenGlActivity" />
        <activity android:name=".CameraActivity" />
        <activity android:name=".MediaCodecActivity" />
        <activity android:name=".ExtractorMuxerActivity" />
        <activity android:name=".TextureViewActivity" />
        <activity android:name=".SurfaceViewActivity" />
        <activity android:name=".VideoDemoActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>